h1 {
        font-size:clamp(1.2rem, 2.3vw, 1.8rem);
      
    
}


//17.6px //25px  //32px
h2 {
      font-size:clamp(0.9rem, 2vw, 1.35rem);
      }

p {

 
}

/*  */
h1, h2 {
      font-weight: normal;
}


#subheading {
      font-weight: 0;
      font-size: clamp(0.9rem, 1.8vw, 1.2rem);
}