h1 {
        font-size:clamp(1.3rem, 4vw, 3rem);
        font-family:'Poppins', sans-serif;
}
h2 {
      font-size:clamp(1.25rem, 2.2vw, 1.5rem);
      font-family:'Poppins', sans-serif;}

p {
      font-family: 'Nunito', sans-serif;
 ;
}
/*  */