@include flex-container($direction: row, $justify-content, $align-items) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@include flex-center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
