%button-success {
    background-color: lime;
}
%button-danger {
    background-color: red;
}

//Button placeholders



//input placeholders
%input-danger {
    outline: 1px solid red;
}
%input-success {
       outline: 1px solid lime;
}