.feed-main {

}

.feed-main__posts {

  gap: 10px;
  position: relative;
  background-color: rgb(238, 15, 52);
   overflow-y: auto;

}
.feed-main__posts-card {
  background-color: rgb(72, 5, 166);
  display: flex;
  flex-direction: column;
  height: 20rem;
  width: 10rem;

  
}
/* .feed-main__posts-card:first-child {
  margin-block-start: 5rem;
}
.feed-main__posts-card:last-child {
  margin-block-end: calc(5rem + 1rem);
} */
.feed-main__posts-card__header {
  flex: 30%;
  position: relative;
  .feed-main__posts-card--header--img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.feed-main__posts-card__body {
  flex: 60%;
  .feed-main__posts-card--body--title {
    font-size: clamp(1.1rem, 2.2vw, 1.3rem);
  }

  .feed-main__posts-card--body--text {
    color: royalblue;
  }
  img {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
  }
}

.feed-main__posts-card__footer {
  flex: 10%;
  .feed-main__posts-card--body--tags {
    background-color: orchid;
    height: 100%;
    width: 100%;
  }
}

.observer-trigger {
  background-color:pink;
  position: absolute;
  bottom: 200px;

}