
.profile-main {
  flex: 1;
display: flex;
flex-direction: column;
background-color: black;
position: relative;

}
.profile-main__wrapper, .profile-main__stats, .profile-main__buttons {
  display: flex;
}

.profile-main__wrapper {
  position: relative;
color: white;
padding-block: 30px;

   @media screen and (max-width:1440px) {
     height: 25rem;
    }

  /*   @media screen and (min-width:1440px) {
     height: 30rem;
    } */
.profile-main__wrapper--banner {
     position: absolute;
  top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
  object-fit: cover;

    z-index: 0;
  /*   @media screen and (min-width:1440px) {
      display: none;
    } */
}


@media screen and (max-width:1440px) {
  flex-direction: column;
}
}
.profile-main__user {
  padding-block-start: 0.5rem;
  flex: 1;
 
z-index: 1;
  display: flex;
 align-items:center;
  flex-direction: column;
@media screen and (max-width:1440px) {
  gap: 15px;
 
}

    .profile-main__user--img {
 
   border-radius: 100%;
 /*   padding: 10px; */
 @media screen and (min-width:300px) and (max-width:767px) {
    width: 5.5rem;
   height: 5.5rem;
 }


 @media screen and (min-width:767px)  and  (max-width:1440px){
width: 7.5rem;
height: 7.5rem;
  
 }
  @media screen and (min-width:1440px){
width: 9rem;
height: 9rem;
  
 }

  }
  .profile-main__user--img , .profile-main__user--name{
     @media screen and (min-width:1441px) {
     margin-inline-start: 15rem;

   }
  }
}
.profile-main__stats {
  z-index: 1;
  flex: 1;
flex-direction: column;
padding-inline: 5px;

;
[data-follow-stat], [data-followers-stat], [data-posts-stat], .count{
  margin-inline-start: 15px;
  text-align: center;
}

@media screen and (max-width:1440px) {
 justify-content: center;
 align-items: center;
gap: 10px;
padding-block-start: 15px;
}
/*     @media screen and (max-width:767px) {
   flex: 2;

   } */


.profile-main__stats-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
}
.profile-main__buttons {
flex: 1;
  display: flex;
  gap: 10px;

  
.btn-edit, .btn-view {

}
}
}


.profile-main-posts {
background-color: red;
flex: 1;
/* display: grid;
grid-template-columns: repeat(2, minmax(5rem, auto));
grid-auto-rows: 15rem  */
display: flex;
flex-wrap: wrap;
gap: 5px; 

}
.profile-main-posts__container{
background-color: orange;
height: 10rem;
width: 10rem;
position: relative;

 }
  .profile-main-posts__container-img {
position: absolute;
inset: 0;
height: 100%;
width: 100%;

  }

  .profile-main-posts__container-link {
    position: absolute;
    inset: 0;
  }










/* .profile-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.profile-main__wrapper {
  flex-shrink: 1;
  display: grid;
  grid-template-areas: "top-left top-right";
  grid-template-columns: 50%, 50%;
  grid-template-rows: auto;
  color: white;
  letter-spacing: 1px;
  padding-block-start: 40px;
  background-color: #303030;

}
.profile-main__user,
.profile-main__stats,
.profile-main__buttons {
  display: flex;
  padding-block: 10px;
}

.profile-main__user {
  grid-area: top-left;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  .profile-main__user--img {
    display: block;
    min-width: 3rem;
    @media screen and (min-width: 320px) and (max-width: 767px) {
      min-width: 6rem;
    }
    width: 25%;
    border-radius: 100%;
    border: 3px solid #4982f7;
  }
}
.profile-main__stats {
  grid-area: top-right;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.2;
  @media screen and (min-width: 1400px) {
    align-items: flex-start;
  }

  [data-follow-stat],
  [data-followers-stat],
  [data-posts-stat],
  .count,
  .btn-follow,
  .btn-message {
    @media screen and (min-width: 1400px) {
      margin-inline-end: 60px;
    }
  }
  .profile-main__stats-wrapper {
    display: flex;
  }
  .profile-main-stats-stat {
    margin-inline: 10px;
  }
  [data-follow-stat],
  [data-followers-stat],
  [data-posts-stat] {
  }
  .count {
  }
  .follow-count {
  }
  .followers-count {
  }
  .posts-count {
  }
}
.profile-main__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  @media screen and (min-width: 1400px) {
    margin-block-start: 20px;
    gap: 0px;
    justify-content: center;

    padding-inline-start: 8px;
  }
  .btn-follow,
  .btn-message {
    border-radius: 10px;
    height: auto;
    width: auto;
    padding: 8px;
    background-color: #4982f7;
    color: white;

  }
}

.profile-main-posts {
  background-color: black;
  flex: 1;
}
 */