/* @import "../utils/placeholders"; */

.index-main__form {
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding-block: 10px;
  max-width: 30rem;
  width: 100%;
  input{
    outline: none;
  }


  [type="text"], [type="password"]{
   background-color: $secondary--clr;
      padding-inline-start: 15px;
      color: rgb(0, 0, 0);
      font-size: 14px;
      letter-spacing: 1px;
      transition: 100ms;
      
      &::placeholder {
        color: black
      }
      &:focus {
       outline: 0.5px solid blue;
       transition: 100ms
      }
      ;}

[type="text"], [type="password"], button {
 placeholder {
  color: black;
 }
  border-radius: 15px;
    @media screen and (min-width: 320px) and (max-width: 768px) {
    height: 2.5rem;
    width: 20rem;
  }
  @media screen and (min-width: 768px) and (max-width: 1000px) {
    height: 2.8rem;
    width: 22rem;
  }
  @media screen and (min-width: 1000px) and (max-width: 100vw) {
    height: 3rem;
    width: 23rem;
  }
}

  .form__sign-up {
 color: white;

 a {
  display: inline-block;
  color: #6a28fd;
  margin-inline-start: 5px;
 }
  }
  
.login-btn,
.signup-btn {
  background-color: $accent--clr;


}

.login-btn.danger {
@extend %button-danger;
}




}









.terms-container {
  background-color: $secondary--clr;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
height: auto;
padding-block: 2rem;
margin-top: 1rem;
border-radius: 15px;
.privacy-container, .news-letter{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 15px;
}
      @media screen and (min-width: 320px) and (max-width: 768px) {

    width: 20rem;
  }
  @media screen and (min-width: 768px) and (max-width: 1000px) {

    width: 22rem;
  }
  @media screen and (min-width: 1000px) and (max-width: 100vw) {

    width: 23rem;
  }
  
}

#privacy-text,
#newsletter-text {
  padding-left: 0.5rem;
}
#existing-text {
  color: white;

  a {
     color: #6a28fd;
  margin-inline-start: 5px;
  }
}


.feed-main__user {
 background-color:$secondary--clr;
  gap: 10px;
height: auto;
padding: 10px;
  position: relative;

}


#feed-search-form {
@media screen and (max-width:1035px) {
  display: none;
}
width: auto;
height: auto;
display: flex;

flex-direction: column;
justify-content: center;
align-items: center;




.feed-search-form__container {
   position: relative;
   width: 50rem;
   background-color: red;
  
   input[type="search"] {
  padding: 10px;
 width: 50rem;
padding-left: 30px;
outline: none;

&::placeholder {
color: black;
font-weight: 400;
  padding-left:20px;
}
}
i {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(-50%, -50%);
}
}


}







.index-main__form-container {
  position: relative;
  background-color: orange;
 border-radius: 15px;
}

.success-sign, .error-sign {
  position: absolute;
}

.success-sign, .error-sign {
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
}






.success-sign.show, .error-sign.show {
  display: block;
}
.success-sign.hide, .error-sign.hide {
  display: none;
}

.success-sign{
color: green;
}
.error-sign {
color: red;
}