.create-post-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #18161644;

  .btn-close__wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
.create-post-wrapper {
  .create-post__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    align-items: center;
    border-radius: 10px;
    padding-block: 10px;
    padding-inline: 10px;
    background-color: #303030;
    height: auto;
    width: auto;

    #create-post__title,
    #create-post__image,
    #create-post__tags,
    #create-post__content,
    .btn-create__post {
      color: white;
      width: 100%;
      padding: 10px;
      background-color: #3030302c;
      border: 1px solid black;
      border-radius: 10px;
      outline: none;

      @media screen and (min-width: 340px) and (max-width: 767px) {
        width: 20rem;
      }

      @media screen and (min-width: 767px) {
        width: 30rem;
      }
      @media screen and (min-width: 1440px) {
        width: 35rem;
      }
    }
    #create-post__content {
      resize: none;
      columns: 1;
    }
    .btn-create__post {
      margin-block-start: 5px;
      width: 50%;
    }

    /*   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  }
}

.create-post-wrapper.active {
  visibility: visible;
  opacity: 1;
  transition: visibility 150ms, opacity 300ms;
}
.create-post-wrapper.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 150ms, opacity 300ms;
}

.show-user-wrapper {
  visibility: hidden;
  background-color: rgba(74, 13, 216, 0.842);
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .show-user-information {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(41, 41, 41);
    gap: 10px;
    color: white;
    img {
      height: 5rem;
      width: 5rem;
      border-radius: 100%;
    }
    p {
      display: block;
    }
  }
}

.label-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
